name: Install Dependencies

on:
  workflow_call:

jobs:
  install-deps:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20]
    env:
      NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      YARN_ENABLE_IMMUTABLE_INSTALLS: false
      
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: |
          corepack enable
      - run: |
          yarn set version 4.2.2
      - name: Install Dependencies
        run:
          yarn install
      - name: List Node Modules
        run: |
          ls node_modules
          yarn --version
          yarn list --depth=0
      
    
